<div class="jumbotron">
  <hr class="my-4">
  <div class=" d-flex justify-content-around" style='align-items: center'>
   <div>
     <p><b><%= transact.name %></b></p>
     <p class=''><small class="text-muted"><%=transact.created_at.to_formatted_s(:long_ordinal)  %> </small></p>
   </div>
    <strong>$<%=transact.amount %></strong>
  </div>
   <hr>
</div>
