<div class="card my-5">
  <div class="card-body d-flex justify-content-between align-items-center">
    <div class="d-flex align-items-center gap-3">
      <div class="d-flex align-items-center gap-2">
        <%#= image_tag @category.icon, class: "category-images" %>
        <div>
          <h5 class="card-title"><%= @trans.name %></h5>
          <span class="card-text font-bold">$<%= @trans.amount %></span>
        </div>
      </div>
    </div>
    <%# if action_name != "show" %>
<!--      <div class="d-flex gap-2">-->
        <%#= button_to user_category_transact_path(@category, @trans), method: :delete, class: "btn btn-sm btn-outline-danger" do %>
<!--          <i class="bi bi-trash"></i>-->
        <%# end %>
<!--      </div>-->
    <%# end %>
  </div>
</div>