 <div class='card text-center mx-auto mt-5 w-50 border-0 text-light' style='background-color: #0a0a23'  >
    <h1><i>Welcome!</i></h1><br><br>

    <%= image_tag 'budget', class: 'card-img-top w-25 h-25 mx-auto'%>
    <div class='mx-auto w-100 p-5'>
      <%= link_to 'Login', new_user_session_path, class: 'btn btn-primary btn-lg w-50 text-light' %><br><br>
      <%= link_to 'Create account', new_user_registration_path, class: 'btn btn-outline-primary btn-lg w-50 text-light' %>
    </div>
  </div>

