<%if user_signed_in? %>
<footer class='text-center mt-5 '>
  <div class= 'text-center p-3' >
    © 2023 Copyright:
    <a class="text-blue text-decoration-none text-grey" href="https://github.com/degisew">Degisew Mengist</a>
  </div>
</footer>
<%end %>